h1{
    text-align: center;
    color: white;
    background-color: rgb(163, 6, 103);
    border-radius: 80%;
}

.col-md-4

{
    margin:0 auto;
    text-align: center;
}

.form-group
{
  color: white;
}