
    <h1>Student Task</h1>
    <div class="row">
    <div class="col-md-4 text-white">
    <div class="form-group">
    <label for="text">Name</label>
    <input #name type="text" class="form-control">
    </div> 
    <div class="form-group">
    <label for="email">Email</label>
    <input #email type="email" class="form-control">
     </div>     
        
        <div class="form-group">
            <label for="number">Phone</label>
            <input #phone type="number" class="form-control">
            </div>     

            <div class="form-group">
             <button (click)="addB(name , email , phone)" class="btn btn-outline-primary">Add Student</button>
            </div>        
    </div>


         <div class="col-md-8 mt-4">
          <div class="table-responsive">
            <table class="table table-bordered text-white text-center">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let arr of sTable; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{arr.name}}</td>
                        <td>{{arr.email}}</td>
                        <td>{{arr.phone}}</td>
                    </tr>
                </tbody>
            </table>
          </div>  
         </div>
</div>